<h1>About</h1>
<p>This is a pin board for English groups in Colombia! Feel free to post your theocratic pictures from meetings, preaching, congregation events, or just something funny or inspirational.</p>

<p>Remember to keep it theocratic and clean!</p>

<p>Any Questions? Please contact admin: JamesonBeebe at gmail dot com</p>